<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo3.module.mapper.CategoryMapper">
    <insert id="insert" parameterType="com.example.demo3.module.entity.Category" useGeneratedKeys="true" keyProperty="id">
        insert into category (

            <if test="category.createTime != null ">create_time,</if>
            <if test="category.updateTime != null ">update_time,</if>
            <if test="category.isDeleted != null ">is_deleted,</if>
            <if test="category.name != null and category.name !=''">name,</if>
            <if test="category.image != null and category.image !=''">image</if>
        )
        values (

            <if test="category.createTime != null ">#{category.createTime},</if>
            <if test="category.updateTime != null ">#{category.updateTime},</if>
            <if test="category.isDeleted != null ">#{category.isDeleted},</if>
            <if test="category.name != null and category.name !=''">#{category.name},</if>
            <if test="category.image != null and category.image !=''">#{category.image}</if>
        )
    </insert>


    <update id="update" parameterType="com.example.demo3.module.entity.Category">
        update category
        <set>
        id = #{category.id},
        <if test="category.createTime != null">create_time = #{category.createTime},</if>
        <if test="category.updateTime != null">update_time = #{category.updateTime},</if>
        <if test="category.isDeleted != null">is_deleted = #{category.isDeleted},</if>
        <if test="category.name != null and category.name !=''">name = #{category.name},</if>
        <if test="category.image != null and category.image !=''">image = #{category.image}</if>
        </set>
        where id = #{category.id}
    </update>
    <select id="getCategoryId" parameterType="com.example.demo3.module.entity.Category" resultType="java.lang.Integer">
        select id from category
        where is_deleted = 0
        <if test="gunName != null and gunName != ''">
            and name like concat('%', #{gunName}, '%')
        </if>

    </select>

    <select id="getCategoryByParentId" resultType="com.example.demo3.module.entity.Category">
        SELECT * FROM category WHERE is_deleted = 0
        <if test="parentId != null">
            AND parent_id = #{parentId}
        </if>
        <if test="parentId == null">
            AND parent_id IS NULL
        </if>
    </select>


    <select id="getInfoById" parameterType="com.example.demo3.module.entity.Category" resultType="com.example.demo3.module.entity.Category">
        select * FROM category
        <where>
            is_deleted=0
                <if test="categoryIds != null and categoryIds != ''">
                    and id in (${categoryIds})
                </if>
        </where>

    </select>

</mapper>

