<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo3.module.mapper.SmsTaskMapper">
    <insert id="insert" parameterType="com.example.demo3.module.entity.SmsTask" useGeneratedKeys="true" keyProperty="id">
        insert into sms_task (
        <if test="sms_task.phone != null and sms_task.phone != ''" >phone,</if>
        <if test="sms_task.status != null and sms_task.status != ''" >status,</if>
        <if test="sms_task.content != null and sms_task.content != ''" >content,</if>
        <if test="sms_task.createTime != null" >create_time,</if>
        <if test="sms_task.updateTime != null" >update_time,</if>
        failure_reason,

        is_deleted)
        values (

        <if test="sms_task.phone != null and sms_task.phone != ''" >#{sms_task.phone},</if>
        <if test="sms_task.status != null and sms_task.status !=''" >#{sms_task.status},</if>
        <if test="sms_task.content != null and sms_task.content != ''" >#{sms_task.content},</if>
        <if test="sms_task.createTime != null" >#{sms_task.createTime},</if>
        <if test="sms_task.updateTime != null" >#{sms_task.updateTime},</if>
        #{sms_task.failureReason},
        #{sms_task.isDeleted})
    </insert>

    <update id="update" parameterType="com.example.demo3.module.entity.SmsTask">
        update sms_task

        <set> id = #{sms_task.id}

            <if test="sms_task.status != null and sms_task.status !=''">,status = #{sms_task.status}</if>
            <if test="sms_task.content != null and sms_task.content != ''">,content = #{sms_task.content}</if>
            <if test="sms_task.updateTime != null" >,update_time = #{sms_task.updateTime}</if>
            <if test="sms_task.failureReason != null and sms_task.failureReason != ''">,failure_reason = #{sms_task.failureReason}</if>
        </set>
        where id = #{sms_task.id}

    </update>



</mapper>