<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo3.module.mapper.UserMapper">
    <insert id="insert" parameterType="com.example.demo3.module.entity.User" useGeneratedKeys="true" keyProperty="id">
        insert into user (

        <if test="user.createTime != null ">create_time,</if>
        <if test="user.updateTime != null ">update_time,</if>
        <if test="user.isDeleted != null ">is_deleted,</if>
        <if test="user.username != null and user.username !=''">username,</if>
        <if test="user.password != null and user.password !=''">password</if>
        )
        values (

        <if test="user.createTime != null ">#{user.createTime},</if>
        <if test="user.updateTime != null ">#{user.updateTime},</if>
        <if test="user.isDeleted != null ">#{user.isDeleted},</if>
        <if test="user.username != null and user.username !=''">#{user.username},</if>
        <if test="user.password != null and user.password !=''">#{user.password}</if>
        )
    </insert>



</mapper>